/* Provide sufficient contrast against white background */
a {
  color: #000000;
}

code {
  color: #E01A76;
}

body {
    background-color: #323639;
    color: whitesmoke;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #1861ac;
}

#menu-outer {
    height: 84px;
    background-color: #323639;
}

.table {
    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}